<div class="tsMap" ng-style="mapCtrl.mapStyle">
    <div class="countries">
        <div ng-repeat="co in mapCtrl.countries" ng-controller="countryController as country">
            <div class="country" ng-init="init(co)" data-name="{{ country.name }}"></div>
        </div>
    </div>
</div>