.tsMap {
    background: transparent url(../images/TS_Map.jpg) no-repeat 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    transition: background-size .5s, background-position .5s;
    transition-timing-function: ease-out;
}